.parallel-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2% 2%;
  margin-bottom: 10%;
}

.parallel-container div:nth-child(3n+1) {
  grid-column-end: span 2;
}

.fit-picture {
  width: 100%;
  margin-bottom: 10%;
}

.parallel-container .title {
  place-self: center;
}

.arcane-parallel {
  width: 90%;
}
.parallel-title {
  text-align: center;
  margin-bottom: 3%;
}
