.parallel-section-container:last-child {
  margin-bottom: 10em;
}

.parallel-sections-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.parallel-section-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5em;
}

.parallel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.parallels-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.fit-picture {
  width: 100%;
}

.fit-video {
  width: 100%;
  height: 100%;
}

.parallels-image-container {
  width: 48%;
}

.parallels-videos-container {
}

.parallel-section-container .title {
  place-self: center;
}

.arcane-parallel {
  width: 90%;
  gap: 10em;
  height: 100%;
}

.parallel-title {
  text-align: center;
}

.main-text {
  text-align: left;
  width: 40%;
  align-self: center;
}
